// This is a sample database configuration file.
// To establish a connection simply put a url string, provided by
// your database provider. Don't forget to put username instead
// of <dbuser> and password instead of <dbpassword>

module.exports = {
  url: 'your db connection string',
}